
{{>navigation}}

<div class="welcome">
    <h1>Below is a list of the people form {{city}} that signed this petition</h1>
</div>

<div class="signatures">
    <ul>
        {{>signersname}}
    </ul>
</div>
