<div class="welcome">
    <h1>Welcome to no Christmas in November</h1>
    <h2>Nice to have you back</h2>
</div>

<form class="registration" method="post">
    <p id="error">Something went wrong. Please try again</p><br>
    <p>{{error}}</p>
    E-mail <br>
    <input type="email" name="email" required> <br>
    Password <br>
    <input type="password" name="password" required> <br>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit" name="button" id="submit">LOG IN</button>
</form>
