{{>navigation}}

<div class="welcome">
    <h1>Thank you {{name}} for creating a profile.</h1>
    <h2>Please sign below to contribute</h2>
</div>

<form class="registration"  method="POST">
    <p>{{error}}</p><br>
    <p id="error">Must add signature for the petition</p>
    Sign Here<br>
    <input type="hidden" name="signature" id="sig" required><br>
    <canvas id="canvas-body" width="500" height="150"></canvas><br>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit" name="submit" id="submit">Submit</button>
</form>
