
<div class="welcome">
    <h1>Welcome to my petition page</h1>
</div>

<form class="registration"  method="post">
    First name:<br>
    <input type="text" name="firstname"><br>
    Last name:<br>
    <input type="text" name="lastname"><br>
    Sign Here<br>
    <input type="hidden" name="signature"><br>
    <canvas id="canvas-body" width="400" height="100"></canvas><br>
     <button type="submit" name="submit">Submit</button>
</form>
