<div class="welcome">
    <h1>Thank you {{name}} for creating a profile.</h1>
    <h2>Please sign below to contribute, or maybe in later time</h2>
</div>

<form class="registration"  method="POST">
    <p>{{error}}</p><br>
    Sign Here<br>
    <input type="hidden" name="signature" id="sig" required><br>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <canvas id="canvas-body" width="400" height="100"></canvas><br>
     <button type="submit" name="submit" id="submit">Submit</button>
</form>
