
{{>navigation}}

<div class="welcome">
    <h1>Hello {{name}}, nice to have you here</h1>
    <h2>Please tell more about you (optional)</h2>
</div>

<form class="registration" method="POST"><br>
    <p>{{error}}</p>
    Age:<br>
    <input type="number" name="age" min="10" max="100"><br>
    City <br>
    <input type="text" name="city"><br>
    Homepage <br>
    <input type="url" name="url"> <br>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit" name="continue" class="submit">Continue</button>
</form>
