
<div class="welcome">
    <h1>No Christmas decoration in November petition</h1>
    <h2>Please register and sign the petion for a sane November</h2>
</div>

<form class="registration" method="POST">
    <p>{{error}}</p>
    First Name:
    <input type="text" name="firstname" required>
    Last Name
    <input type="text" name="lastname" required>
    E-mail address
    <input type="email" name="email" required>
    Password
    <input type="password" name="password" required>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button type="submit" name="sign-up" class="submit">SIGN UP</button>
    <a href="/login"><p>Log-in</p></a>
</form>
