<div class="welcome">
    <h1>Thank you {{name}} for signing our petition</h1>
</div>

<div class="signatures">
    <img src="{{data}}" alt="signature">
<p><a href="/petition/signers">See all others {{sigNum}} signatures</a></p>
</div>
