
{{>navigation}}

<div class="welcome">
    <h1>Thank you {{name}} for signing our petition</h1>
</div>

<div class="signatures">
    <img src="{{data}}" alt="signature">
<p><a href="/petition/signers">See all others {{sigNum}} people who signed</a></p>
<p><a href="/profile/edit">Edit your profile</a></p>

<form class="delete" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button id="delete-btn" type="submit" name="button">Delete signature</button>
</form>
</div>
