<div class="welcome">
    <h1>Below is a list of the people like yourself that signed this petition</h1>
</div>

<div class="signatures">
    <ul>
        <li>person one</li>
        <li>another</li>
        <li>and so on</li>
    </ul>    
</div>
