* {
    box-sizing: border-box;
    margin: 0;
    background: #fefcdb;
    font-family: comic;
}

/* f05a28 dark orange
f7931e punpkin
fff0bc cream
fefcdb light cream */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

p {
}

header {
    height: 70px;
}

footer {
    height: 80px;
    align-self: center;
}

img {
    height: 100px;
    width: 200px;
}

.welcome {
    align-self: center;
}

.registration {
    font-size: 1em;
    align-self: center;
    display: flex;
    flex-direction: column;
    border: 1px solid #f7931e;
    border-radius: 15px;
    padding: 10px;
}

#error {
    visibility: hidden;
    color: red;
}

#canvas-body {
    border: 1px dotted #f7931e;
    margin: 15px;
}

#canvas-body:hover {
    cursor: crosshair;
}

/* ##############################SIGNERS PAGE#################### */

.signatures {
    align-self: center;
}

button {
    background: #fff0bc;
    border: 2px solid #f7931e;
    border-radius: 15px;
    font-size: 1.2em;
    cursor: pointer;
}

#delete-btn {
    background: none;
    border: none;
    padding: 0;
    color: #f05a28;
    font-family: sans-serif;
    font-size: 1em;
    text-decoration: underline;
    cursor: pointer;
}

a {
    color: #f05a28;
    font-family: sans-serif;
    font-size: 1em;
}
