* {
    box-sizing: border-box;
    margin: 0;
    background: #fefcdb;
    font-family: Arial;
    color: #f05a28;
}

/* f05a28 dark orange
f7931e punpkin
fff0bc cream
fefcdb light cream  ----->> Document  */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

main {
    display: flex;
}

section {
    display: flex;
    flex-direction: column;
}

header {
    height: 70px;
}

nav {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: ;
}

nav p {
    border: 1px solid #f05a28;
    padding: 10px;
    margin: 10px #fff0bc;
    border-radius: 15px;
    color: #f05a28;
}

footer {
    height: 80px;
    align-self: center;
}

img {
    height: 150px;
    width: 500px;
}

.welcome {
    align-self: center;
    margin: 10px;
    padding: 10px;
}

.registration {
    font-size: 1em;
    align-self: center;
    display: flex;
    flex-direction: column;
    border: 1px solid #f7931e;
    border-radius: 15px;
    padding: 10px;
}

.signatures {
    border: 1px solid #f05a28;
    padding: 20px;
    background-color: #fff0bc;
}

ul {
    list-style-type: none;
    padding: 5px;
}

li {
    margin: 5px;
}

li::before {
    content: "\1F341";
    color: #f05a28;
    padding: 4px;
}

#error {
    visibility: hidden;
    color: red;
}

.error-msg {
    color: red;
    font-size: 0.8em;
}

#canvas-body {
    border: 1px dotted #f7931e;
    margin: 15px;
}

#canvas-body:hover {
    cursor: crosshair;
}

/* ##############################SIGNERS PAGE#################### */

.signatures {
    align-self: center;
}

button {
    background: #fff0bc;
    border: 2px solid #f7931e;
    border-radius: 15px;
    font-size: 1.2em;
    cursor: pointer;
}

#delete-btn {
    background: none;
    border: none;
    padding: 0;
    color: #f05a28;
    font-family: sans-serif;
    font-size: 1em;
    text-decoration: underline;
    cursor: pointer;
}

a {
    color: #f05a28;
    font-family: sans-serif;
    font-size: 1em;
}
